<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>金額</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @logs.each do |log| %>
        <p>
          <td><%= log.date %></td>
          <td><%= log.fee %></td>
        </p>
        <p>
          <td><%= link_to "削除", client_log_path(@client, :id), method: :delete, data: {confirm: "削除しますか?"} %>
            <%= link_to "編集", edit_client_log_path(@client, :id) %>
          </td>
        </p>
      </tr>
    <% end %>
  </tbody>
</table>
